#one .main img{
    width: 100%;
}
#one .main img:hover{
    transition: all 0.3s;
    box-shadow: 5px 5px 10px black;
}
#one .one_content{
    position: fixed !important;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}
#one .one_content .cover{
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
}
#one .one_content .slider{
    width: 80%;
    height: 80%;
    position: absolute;
    top: 15%;
    left: 10%;
}
#one .one_content .slider img{
    width: 100%;
    height: 70%;
}
#one .one_content .slider p{
    text-align: center;
    padding: 10px 0;
    color: white;
}
#one .one_content .slider .nav{
    position: absolute;
    top: 30%;
    color: white;
    padding: 10px;
    background-color: black;
    border-radius: 7px;
    border: 1px solid black;
    opacity: 0.5;
    cursor: pointer;
    transition: all 1s;
}
#one .one_content .slider .nav:hover{
opacity: 1;
}
#one .one_content .slider .right{
    position: absolute;
    right: 10px;
}
#one .one_content .slider .left{
    position: absolute;
    left: 10px;
}
#one .one_content .slider .navigation{
    display: flex;
    width: 100%;
    height: 23%;
}

#one .one_content .slider .navigation .item{
    position: relative;
    cursor: pointer;
}

#one .one_content .slider .navigation .item img{
    height: 100%;
}

#one .one_content .slider .navigation .item .cover_item{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0.5;
    background-color: black;
}
#one .one_content .slider .navigation .item .cover_item:hover{
    transition: all 0.5s;
    opacity: 0;
}
.active{
    opacity: 0 !important;
}
.times{
    position: absolute;
    right: 30px;
    top: 30px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}